---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spotify clone">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <!-- Page header -->
    <div class="relative z-10 px-6">
      <!-- Greetings -->
      <div class=""></div>
    </div>
  </div>
</Layout>

<style></style>
